{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    {% for message in messages %}

        <div class="alert alert-success">
            {{ message }}
        </div>
        
    {% endfor %}    

    <h1>{{ entrytitle }}</h1>

        {{ entrycontent }}

    <form action="{% url 'edit' %}">
        <input type="hidden" name="title" value="{{ entrytitle }}">
        <input type="hidden" name="content" value="{{ entrycontent }}">
        <input type="submit"> 
    </form>
    <div class="edit_link">
        <a href="{% url 'edit' %}"> Edit this entry </a>    
    </div>
{% endblock %}