{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ entrytitle }}
{% endblock %}

{% block body %}
    {% for message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {{ entrycontent|safe }}
    <form action="{% url 'edit' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="content" value="{{ entrycontent }}">
        <input type="hidden" name="title" value="{{ entrytitle }}">
        <input type="submit" value="Edit Page"> 
    </form>
{% endblock %}