{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Create a New Entry</h1>

    {% for message in messages %}

        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}    

    <form action="/newsubmit" method="POST"> 
        {% csrf_token %}

        Article Title:
        <div>
            {{ form.title }}
        </div>
        Article Content:
        <div>
            {{ form.content }}
        </div>
        <input type="submit" value="Submit">
    </form>

{% endblock %}